* {
	font-family: 'Kosugi'; font-size: 22px;
}
body {
	background-color: #FFD60A;
}
.header {
	height: 100px;
	width: 100%;
	text-align: center;
	background-color: #D9D9D9;
	border-radius: 40px;
}
.afotodatos {
	height: 100px;
	width: 100%;
	background-color: #C3C0C0;
	border-radius: 40px;
	margin-top: 15px;
}
.acv {
	display: inline-block;
	background-color: #D9D9D9;
	height: 600px;
	margin-top: 15px;
	width: 49%;
	border-radius: 40px;
}
div {
	display: inline-block;
	height: 600px;
	width: 49%;
	margin-left: 23px;
}
.aficiones {
	background-color: #C3C0C0;
	height: 49%;
	width: 100%;
	border-radius: 40px;
}
.porfolio {
	background-color: #C3C0C0;
	height: 49%;
	width: 100%;	
	border-radius: 40px;
	margin-top: 10px;
}
nav {
	display: inline-block;
	width: 23%;
	margin-top: 35px;
}

