// Paletas de colores básica
//Colores generales, ¿Puedes utilizar otro tipo de dato? ¿array? ¿map?
$mapa-color: (
	'fondo': #f5f5f5,
	'base': #333333
);

$mapaBorder : (
	'small': 10px,
	'mid': 20px,
	'big': 40px
);

//VAIABLES con los colores de la barra de menú
$navbar-background-color: rgb(155,111,145);
$navbar-color-hover: map-get($mapa-color, 'fondo');

//VARIABLE para el color del borde 
$border-color: map-get($mapa-color, 'base');

/* VARIABLE para el contenedor general de mi página*/
$main-container-width: 90%;

//VARIABLES para los bordes
$border-width: 1px;
$border-style: solid;

// VARIABLES para las imagenes
$figure-width: 25%;

.container {
	width: $main-container-width;
	margin: 0 auto;

}

/*Usando anidamiento crear la hoja de estilos para un menú */
nav {
   
    /* Zona de estilos del nav*/
	background-color: $navbar-background-color;
	height: 50px;

    ul {
        
        /* Zona de estilos de la lista dentro del nav*/
		list-style: none;
		li {
			display: inline-block;
			width: 10%;
			margin-top: 15px;
			&:hover {
				color: $navbar-color-hover;
			}
		}
		.active {
			color: $navbar-color-hover;
		}
        
    }
}

/*Estructura de anidamiento para la figura (cards)*/


figure.card {

    /* Zona de estilos para las etiquetas img y figcaption*/
	position: relative;
	display: inline-block;
	width: $figure-width;
	height: 200px;
	border: $border-width $border-color $border-style;
	border-radius: map-get($mapaBorder, 'mid');
	
	img {
		position:absolute;
		width: 95%;
		height: 65%;
		border-radius: map-get($mapaBorder, 'big');
		left: 2.5%;
		top: 10%;
	}
	figcaption {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 20%;
		text-align: center;
		
	}
        
}