h1 {
	position: relative;
	top: 10px;
	left: 50px;
}
body {
	margin: 0;
}
.sticky-menu {
	position: sticky;
	background-color: #c9c6bb;
	top: 0;
	z-index: 10;
	width: 100%;

}
.sticky-menu > .menu-element{
	text-align: center;
	margin: 17px;
	width: 5%;
	display: inline-block;
}
.padre {
	background-color: #a0f1fa;
	position: relative;
	height: 230px;
	width: 1100px;
	margin: 25px auto;
}
.hijo1 {
	position: absolute;
	height: 50px;
	width: 50px;
	background-color: green;
	z-index: 5;
	left: 80px;
	top: 21px;
}
.hijo2 {
	position: absolute;
	height: 50px;
	width: 50px;
	background-color: red;
	z-index: 6;
	left: 50px;
	top: 40px;
}
.large {
	width: 1100px;
	height: 1000px;
	background-color: #dbae6e;
	margin: 20px auto 0;
}
.footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #c9c6bb;
}
.footer > .menu-element {
	text-align: center;
	margin: 17px;
	width: 5%;
	display: inline-block;
}